.NavigationItems {
    list-style: none;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
    font-size: 17px;
}

@media (min-width: 600px) {
    .NavigationItems {
        flex-flow: row;
    }
}